:root {
    --primary-color: #fff;
    --secondary-color: rgba(139, 204, 204, 1); /*#8bcccc*/
    --third-color: rgba(220, 172, 211, 1); /*#dcacd3*/
}
html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Codec Pro', sans-serif;
    letter-spacing: 0.5px;
}
/* Bazinis antrastes stilius:*/

/* Bazinis apraso stilius*/

/* Bazinis paragrafo stilius: */

/* Bazinis nuorodu stilius

/* Bazinis paragrafe esanciu nuorodu stilius */
