:root {
    --primary-background: #fff;
    --secondary-background: #cacfd2;
}
html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
}

/* Bazinis antrastes stilius:*/

/* Bazinis apraso stilius*/

/* Bazinis paragrafo stilius: */

/* Bazinis nuorodu stilius

/* Bazinis paragrafe esanciu nuorodu stilius */
