.container.footer {
    padding-top: 15px;
    padding-bottom: 50px;
    background-color: rgba(220, 172, 211, 0.3);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo.footer {
    align-items: flex-start;
    width: 130px;
}

.left-content {
    line-height: 0.9cm;
    font-size: 16px;
}

.socials > a {
    font-size: 20px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.3s;
}

.socials > a:hover {
    background-color: var(--secondary-color);
    font-size: larger;
    color: #fff;
}

.terms > a,
.copyright {
    padding: 5px 10px;
    border-radius: 3px;
    transition: all 0.3s;
}

.terms > a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .container.footer {
        padding-left: 20px;
        padding-right: 20px;
    }
    .container.footer > .row {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .left-content > .socials {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
