@import '../basic/base.css';

.main-header {
    padding-top: 0;
    padding-bottom: 0;
}

.nav-mob {
    display: none;
}

nav > .logo-link > .logo {
    width: 150px;
    padding: 0;
}

.logo-link:hover {
    background-color: initial;
    color: initial;
    box-shadow: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}

nav > a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    padding: 12px 20px 12px 20px;
    border-radius: 3px;
    transition: all 0.3s;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

nav > a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0 5px 10px rgb(0 0 0 /20%);
}

nav > .btn {
    background-color: var(--third-color);
    color: var(--primary-color);
}

nav > .btn:hover {
    background-color: var(--primary-color);
    color: black;
    border: 1px solid var(--third-color);
}
.fa-shopping-cart {
    font-size: 30px;
}
