.container.services {
    background: linear-gradient(
        0,
        rgba(139, 204, 204, 0.5),
        rgba(220, 172, 211, 0.5)
    );
}

.services .title {
    color: black;
    /*text-shadow: 0 8px 30px #0003;*/
    /*height: 70%;*/
    margin-top: 5px;
}

.row > .service {
    gap: 10px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 30px 20px 30px;
    font-size: 14px;
    line-height: 1.2;
    transition: all 0.3s;
    cursor: pointer;
    min-height: 380px;
}

.service > .section-title {
    min-height: 120px;
}

.service > .description {
    margin-top: 10px;
    text-align: left;
    text-align: justify;
}

.service:hover {
    transform: translateY(-10);
    /* box-shadow: 0 5px 10px rgb(0 0 0 /20%);*/
    box-shadow: 0 12px 30px #0003;
    transform: translateY(-10px);
}

.service .img {
    width: 35%;
}

h5 {
    font-size: 20px;
}
