/* base:  */
@import '../basic/base.css';
@import '../basic/layout.css';

/* 3rs-party:  */
@import '../3rd-party/font-awesome.min.css';

/* components (by alphabet):  */
@import '../components/gallery.css';
@import '../components/services.css';
/* CUSTOM */

/* header section start */
.main-header {
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    width: 10%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}

nav > a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 12px 20px 12px 20px;
    border-radius: 3px;
    transition: all 0.3s;
}

a {
    text-decoration: none;
    color: black;
}

nav > a:hover {
    background-color: grey;
    color: var(--primary-background);
}

nav > .btn {
    background-color: grey;
    color: var(--primary-background);
}

nav > .btn:hover {
    background-color: var(--primary-background);
    color: black;
    border: 1px solid black;
}

/*  header section end */

/*  hero section start */
.container.hero {
    padding-top: 0;
    background-color: var(--primary-background);
}

.hero > .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 5em;
}
/*  hero section end */

/*  services section start */
.container.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primary-background);
}

.row.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
}

h3 {
    font-size: 2.8em;
}
/*
.row.services {
    display: flex;
    text-align: center;
    align-items: center;
}*/

h5 {
    font-size: 1.6em;
}
/*  services section end */

/* gallery section start */
.container.gallery {
    background-color: var(--primary-background);
    display: flex;
}

.gallery > .row {
    gap: 10px;
}

/* gallery section end */

/* pricelist section start */
.container.pricelist {
    background-color: var(--primary-background);
    display: flex;
    flex-direction: column;
}

.img {
    width: 60%;
}
/* pricelist section end */

/* footer section start */
.container.footer {
    height: 50vh;
    background-color: var(--primary-background);
}
.container.footer > .row.top {
    display: flex;
    height: 80%;
}

.container.footer > .row.bottom {
    display: flex;
    height: 20%;
}
/* footer section end */
